.jumbotron {
  background-color:whitesmoke;
  color: #000000;
  margin-bottom: 35px; 
  margin-top: 35px;
  padding: 30px;
}

img{
  
 height: 6rem;
}

button{

  margin-top: 10px;
}

a{ 

  color: black;
  text-decoration: none;
}

.btn{

  margin-right: 30px ;
  margin-top: 30px;
}


